# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual Environment
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Logs
# ==========================

*.log

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Python Cache
# ==========================

.pytest_cache/
.mypy_cache/

# ==========================
# Node.js
# ==========================

node_modules/

# React Build
dist/
build/

# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Coverage
# ==========================

coverage/
htmlcov/

# ==========================
# Uploads (Temporary)
# ==========================

uploads/temp/

# ==========================
# Database
# ==========================

*.sqlite3

# ==========================
# Misc
# ==========================

.idea/
*.swp
*.swo

repositories/